/*---------------------------------
        Header CSS 
-----------------------------------*/
.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-wrap.sticky {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #fff;
}

.header-wrap.sticky.style1 .header-bottom {
  background-color: transparent;
}

.header-wrap .header-btn button {
  border: 1px solid transparent;
}

.header-wrap .header-btn button.btn.style3 {
  border-color: #002172;
  margin-right: 15px;
}

.header-wrap .header-btn button.btn:hover {
  border-color: transparent;
}

@media only screen and (max-width: 767px) {
  .navbar-brand img {
    max-width: 120px;
  }
}

@media only screen and (max-width: 991px) {
  .header-wrap.style1 {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
  }
  .header-wrap .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-wrap .navbar .navbar-brand img {
    max-width: 130px;
  }
  .header-wrap .navbar .navbar-collapse {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }
  .header-wrap .navbar .navbar-nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header-wrap .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .header-wrap .navbar .navbar-nav .nav-item .menu-expand {
    position: absolute;
    right: 0;
    top: 14px;
    cursor: pointer;
  }
  .header-wrap .navbar .navbar-nav .nav-item .menu-expand i {
    color: #000;
    font-size: 18px;
    line-height: 1;
    position: relative;
    top: 7px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    border-bottom: 1px solid #F3F4F6;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a i {
    display: none;
  }
  .header-wrap .navbar .navbar-nav .nav-item a.active {
    color: #002172;
  }
  .header-wrap .navbar .navbar-nav .nav-item .btn {
    margin-top: 15px;
    display: block;
    width: 100%;
  }
  .header-wrap .navbar .navbar-nav .nav-item .btn:after {
    display: none;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a {
    font-size: 14px;
    padding-left: 10px;
    margin-left: 10px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #002172;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu {
    margin-left: 20px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .btn.style1 {
    margin-top: 15px;
    color: #fff;
  }
  .mobile-bar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
    position: relative;
    top: 4px;
  }
  .menu-close {
    position: absolute;
    top: 13px;
    right: 16px;
  }
  .menu-close i {
    color: #000;
    font-size: 25px;
  }
  .mobile-menu {
    text-align: right;
  }
  .mobile-menu a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    background-color: #002172;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mobile-menu a i {
    font-size: 22px;
    color: #fff;
    margin: 0 auto;
  }
  .mobile-menu {
    display: inline-block;
    position: relative;
    top: -1px;
  }
  .mobile-top-bar {
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    position: relative;
    top: 0px;
  }
  .mobile-top-bar span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
    border-radius: 20px;
    margin: 5.9px 0;
  }
  .mobile-top-bar span:nth-child(1) {
    margin-top: 0;
  }
  .mobile-top-bar span:nth-child(2) {
    width: 12px;
    margin-left: 8px;
  }
  .main-menu-wrap {
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 999;
    top: 0;
    height: 100vh;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: -100%;
    padding: 55px 20px 30px;
    overflow-y: auto;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .main-menu-wrap.open {
    left: 0;
  }
  .main-menu > li.has-children.menu-open > span.menu-expand {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .main-menu > li.has-children.menu-open > span.menu-expand i {
    color: #000;
  }
  .main-menu > li > ul > li.has-children.menu-open > span.menu-expand {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .main-menu li {
    position: relative;
  }
  .main-menu li:last-child {
    margin: 0;
  }
  .main-menu li > span.menu-expand {
    position: absolute;
    right: 0;
    top: 13px;
    cursor: pointer;
  }
  .main-menu li > span.menu-expand i {
    color: #000;
    font-size: 18px;
  }
  .main-menu li > span.menu-expand:hover {
    color: #000;
  }
  .main-menu li a.active {
    color: #002172;
  }
  .main-menu li > a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .main-menu li > a:hover {
    color: #000;
  }
  .main-menu li > ul.sub-menu {
    padding-left: 20px;
  }
  .header-wrap .header-bottom .main-menu-wrap #menu > ul > li > a::after {
    display: none;
  }
  .main-menu li a.active {
    font-weight: 600;
    color: #000;
    border-color: rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (min-width: 992px) {
  .menu-expand i {
    display: none;
  }
  .header-wrap .navbar {
    padding: 0;
  }
  .header-wrap .navbar .navbar-brand {
    padding: 0 20px 0 0;
  }
  .header-wrap .navbar ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
  }
  .header-wrap .navbar {
    padding: 0;
  }
  .header-wrap .navbar .navbar-brand {
    padding: 0 20px 0 0;
  }
  .header-wrap .navbar ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
  }
  .header-wrap .navbar .navbar-nav {
    margin-right: 30px;
  }
  .header-wrap .navbar .navbar-nav > .nav-item > a:after {
    position: absolute;
    bottom: 30px;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    background-color: #EC3323;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-wrap .navbar .navbar-nav .nav-item {
    position: relative;
    margin: 0 5px;
  }
  .header-wrap .navbar .navbar-nav .nav-item.first-child {
    margin-left: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    color: #000;
    font-weight: 500;
    padding: 30px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    position: relative;
  }
  .header-wrap .navbar .navbar-nav .nav-item a:hover, .header-wrap .navbar .navbar-nav .nav-item a:focus, .header-wrap .navbar .navbar-nav .nav-item a.active {
    color: #EC3323;
  }
  .header-wrap .navbar .navbar-nav .nav-item a:hover:after, .header-wrap .navbar .navbar-nav .nav-item a:focus:after, .header-wrap .navbar .navbar-nav .nav-item a.active:after {
    visibility: visible;
    opacity: 1;
    width: 100%;
  }
  .header-wrap .navbar .navbar-nav .nav-item a i {
    font-size: 16px;
    line-height: 1;
    position: relative;
    top: 3px;
    display: inline-block;
    margin-left: -2px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-wrap .navbar .navbar-nav .nav-item a:hover i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu {
    display: block !important;
    border: none;
    top: 95px;
    left: -23px;
    z-index: 99;
    opacity: 0;
    width: 265px;
    padding: 10px 0;
    display: block;
    border-radius: 0;
    border-left: 2px solid #EC3323;
    border-radius: 0 0 5px 5px;
    position: absolute;
    visibility: hidden;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li {
    margin: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li:last-child {
    border-bottom: none;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a {
    padding: 9px 20px;
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a::before {
    position: absolute;
    top: 18px;
    left: 20px;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #EC3323;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
    color: #EC3323;
    padding-left: 32px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active:before, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover:before {
    visibility: visible;
    opacity: 1;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    width: 100%;
    right: auto;
    left: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a i {
    margin: 0;
    position: absolute;
    top: 55%;
    font-size: 16px;
    line-height: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    top: 0;
    opacity: 0;
    left: -250px;
    right: auto;
    visibility: hidden;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
  .header-wrap .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    top: 85px;
    opacity: 1;
    visibility: visible;
  }
  .header-wrap .navbar .others-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .header-wrap .header-bottom .navbar .navbar-nav .nav-item .dropdown-menu {
    height: 100vh;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-wrap .navbar .navbar-brand img {
    max-width: 130px;
  }
  .header-wrap .navbar .navbar-nav .nav-item {
    margin: 0 7px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    font-size: 15px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a {
    font-size: 14px;
  }
  .header-wrap .header-btn button.btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .header-wrap .navbar .navbar-nav .nav-item {
    margin: 0 7px;
  }
  .header-wrap .header-btn button.btn {
    padding: 12px 25px;
  }
}

@media only screen and (min-width: 1400px) {
  .header-wrap .navbar .navbar-nav .nav-item {
    margin: 0 15px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1600px) {
  .header-wrap .container {
    max-width: 1520px;
  }
}
/*# sourceMappingURL=header.css.map */