{% extends 'layouts/base_re.html' %}
{% block title %} | Sign In {% endblock %}
{% block content %}
<!-- Content Wrapper Start -->
<div class="content-wrapper">

  <!-- Breadcrumb Start -->
  <div class="breadcrumb-wrap bg-f br-2">
      <div class="container">
          <div class="breadcrumb-title">
              <h2>Sign In</h2>
              <ul class="breadcrumb-menu list-style">
                  <li><a href="{% url 'index' %}">Home </a></li>
                  <li>Sign In</li>
              </ul>
          </div>
      </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- section start -->
  <section class="about-wrap style3 pt-100" >
    <div class="container">
      <!--Alerts-->
      {% include 'partials/_alert.html' %}  
      <form action="{% url 'login' %}" method="POST" >
        {% csrf_token %}
        <div class="form-group" >
          {{form}}  
        </div>
        <input type="submit" value="Login" class="btn btn-secondary btn-block">
      </form>
    </div>
  </section>
</div>
{% endblock %}