{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">How can we help you?</h1>
            <p class="mb-0">Find a home, look for financing or sell your property</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card border-0 shadow">
            <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
                <h2 class="h4 mb-0">I need help getting a loan</h2>
            </div>
            <p>I already have a place in mind and I'm looking a few bob</p>
        </div>
    </div>
</div>
</br>
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card border-0 shadow">
            <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
                <h2 class="h4 mb-0">I need help getting a loan</h2>
            </div>
            <p>I already have a place in mind and I'm looking a few bob</p>
        </div>
    </div>
</div>
</br>
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card border-0 shadow">
            <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
                <h2 class="h4 mb-0">I need help getting a loan</h2>
            </div>
            <p>I already have a place in mind and I'm looking a few bob</p>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
