{% load static %}

<!--Preloader starts-->
<div class="loader js-preloader">
    <div></div>
    <div></div>
    <div></div>
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div class="switch-theme-mode">
    <label id="switch" class="switch">
            <input type="checkbox" onchange="toggleTheme()" id="slider">
            <span class="slider round"></span>
    </label>
</div>
<!-- Theme Switcher End -->
<div class="page-wrapper">

<!-- Header Section Start -->
<header class="header-wrap style1">
  <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" href="{% url 'index' %}">
              <img class="logo-light" src="{% static 'assets/img/logo.png' %}" alt="logo">
              <img class="logo-dark" src="{% static 'assets/img/logo-white.png' %}" alt="logo">
          </a>
          <div class="collapse navbar-collapse main-menu-wrap" id="navbarSupportedContent">
              <div class="menu-close d-lg-none">
                  <a href="javascript:void(0)"> <i class="ri-close-line"></i></a>
              </div>
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link active">
                        Home
                    </a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">
                          Listings 
                          <i class="ri-add-line"></i>
                      </a>
                      <ul class="dropdown-menu">
                          <li class="nav-item">
                              <a href="{% url 'listings' %}" class="nav-link">
                                Rentals
                              </a>
                          </li>
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">
                          Agents
                          <i class="ri-add-line"></i>
                      </a>
                      <ul class="dropdown-menu">
                          <li class="nav-item">
                              <a href="{% url 'agents' %}" class="nav-link">Agent List</a>
                          </li>
                          <li class="nav-item">
                              <a href="{% url 'agent_details' %}" class="nav-link">Agent Details</a>
                          </li>
                      </ul>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link">
                        About Us
                    </a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a href="{% url 'portal' %}" class="nav-link active">
                      Portal
                    </a>
                  </li>
                  {% endif %}
                  <!-- <li class="nav-item">
                      <a href="#" class="nav-link">
                          Pages
                          <i class="ri-add-line"></i>
                      </a>
                      <ul class="dropdown-menu">
                          <li class="nav-item">
                              <a href="how-it-works.html" class="nav-link">How It Works</a>
                          </li>
                          <li class="nav-item">
                              <a href="faq.html" class="nav-link">FAQ</a>
                          </li>
                          <li class="nav-item">
                              <a href="testimonials.html" class="nav-link">Testimonials</a>
                          </li>
                          <li class="nav-item">
                              <a href="terms-of-service.html" class="nav-link">Terms of Service</a>
                          </li>
                          <li class="nav-item">
                              <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                          </li>
                          <li class="nav-item">
                              <a href="error-404.html" class="nav-link">404 Error Page</a>
                          </li>
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">
                          Blog
                          <i class="ri-add-line"></i>
                      </a>
                      <ul class="dropdown-menu">
                          <li class="nav-item">
                              <a href="blog.html" class="nav-link">
                                  Blog
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="#" class="nav-link">
                                  Single Blog
                                  <i class="ri-add-line"></i>
                              </a>
                              <ul class="dropdown-menu">
                                  <li class="nav-item">
                                      <a href="blog-details-no-sidebar.html" class="nav-link">Blog Details No Sidebar</a>
                                  </li>
                                  <li class="nav-item">
                                      <a href="blog-details-left-sidebar.html" class="nav-link">Blog Details Left Sidebar</a>
                                  </li>
                                  <li class="nav-item">
                                      <a href="blog-details-right-sidebar.html" class="nav-link">Blog Details Right Sidebar</a>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a href="contact.html" class="nav-link">Contact Us</a>
                  </li> -->
                  <!-- <li class="nav-item d-lg-none">
                    <div class="header-btn">
                      <a class="nav-link" href="{% url 'login' %}">
                        <button type="button" class="btn style3" data-bs-toggle="modal" data-bs-target="#signUp">Sign In</button>
                      </a>
                    </div>
                  </li>
                  <li class="nav-item d-lg-none">
                      <button type="button" class="btn style1" data-bs-toggle="modal" data-bs-target="#signUp">Sign Up</button>
                  </li> -->
              </ul>
              {% if user.is_authenticated %}
              <div class="others-options  md-none">
                <div class="header-btn">
                    <a href="{% url 'create_rental' %}">
                        <button type="button" class="btn style1" data-bs-toggle="modal" data-bs-target="#CreateAd">Place Ad</button>
                    </a>
                    <a href="{% url 'logout' %}">
                        <button type="button" class="btn style3" data-bs-toggle="modal" data-bs-target="#signOut">Sign Out</button>
                    </a>
                </div>
              </div>
              {% else %}
              <div class="others-options  md-none">
                <div class="header-btn">
                  <a href="{% url 'login' %}">
                      <button type="button" class="btn style3" data-bs-toggle="modal" data-bs-target="#signIn">Sign In</button>
                  </a>
                  <a href="{% url 'register' %}">
                    <button type="button" class="btn style1" data-bs-toggle="modal" data-bs-target="#signUp">Sign Up</button>
                  </a>
                </div>
            </div>
              {% endif %}
          </div>
      </nav>
      <div class="mobile-bar-wrap">
          <div class="mobile-menu d-lg-none">
              <a href="javascript:void(0)"><i class="ri-menu-line"></i></a>
          </div>
      </div>
  </div>
</header>  
<!-- Header Section End -->


<!-- Navbar -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'img/logo.png' %}" class="logo" alt="" />
    </a>
    <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li 
        {
          {% if '/' == request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
        }
        >
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li 
        {
          {% if 'about' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
        }
        >
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li
          {% if 'listings' in request.path %}
          class="nav-item active mr-3"
          {% else %}
          class="nav-item mr-3"
          {% endif %}
        
        >
          <a class="nav-link" href="{% url 'listings' %}">Featured Listings</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li 
        {% if 'dashboard' in request.path %}
        class="nav-item active mr-3"
        {% else %}
        class="nav-item mr-3"
        {% endif %}
        >
          <a class="nav-link" href="{% url 'dashboard' %}">
            Welcome {{ user.username }} (Dashboard)</a>
        </li>
        <li class="nav-item mr-3">
          <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
            <i class="fas fa-sign-out-alt"></i>Logout
          </a>
          <form action="{% url 'logout' %}" method="POST" id="logout">
            {% csrf_token %}
            <input type="hidden">
          </form>
        </li>
        {% else %}
          <li 
            {% if 'register' in request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'register' %}">
                <i class="fas fa-user-plus"></i> Register</a
              >
            </li>
            <li 
            {% if 'login' in request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}>
              <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>

                Login</a
              >
          </li>
        {% endif %}
          
      </ul>
    </div>
  </div>
</nav> -->
