{% extends 'layouts/base_re.html' %} {% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}
<!-- Page Wrapper End -->
<div class="page-wrapper">

        <!-- Content Wrapper Start -->
        <div class="content-wrapper">

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap bg-f br-2">
            <div class="container">
                <div class="breadcrumb-title">
                    <h2>About Us</h2>
                    <ul class="breadcrumb-menu list-style">
                        <li><a href="{% url 'index' %}">Home </a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- About section start -->
        <section class="about-wrap style3 pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                        <div class="section-title style2 text-center mb-40">
                            <span>ABOUT US</span>
                            <h2>Fela Awesome Story</h2>
                            <p>Best Strategic planning dolor sit amet consectetur adipiscing elit. Scel erus isque ametus odio velit auctor nam elit nulla eget sodales dui pulvinar. Best strategic planning dolor sit sectetur.</p>
                        </div>
                    </div>
                </div>
                <div class="about-img-wrap">
                    <div class="row">
                        <div class="col-5">
                            <div class="about-bg-2 bg-f"></div>
                        </div>
                        <div class="col-4">
                            <div class="about-bg-3 bg-f"></div>
                        </div>
                        <div class="col-3">
                            <div class="about-bg-4 bg-f"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section end -->

        <!-- Advantage Section start -->
        <section class="advantage-wrap ptb-100">
            <div class="container">
                <div class="section-title style1 text-center mb-40">
                    <span>Advantages</span>
                    <h2>Our Best Advantages</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="adv-card">
                            <div class="adv-img">
                                <img src="{% static 'assets/img/adv-1.png' %}" alt="Image">
                            </div>
                            <div class="adv-info">
                                <h3>Smart Home Design</h3>
                                <p>Lorem ipsum dolor sit amet, cons ectetur adip isci ngelit, sed do eiusmod tem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="adv-card">
                            <div class="adv-img">
                                <img src="{% static 'assets/img/adv-2.png' %}" alt="Image">
                            </div>
                            <div class="adv-info">
                                <h3>Beautiful Scene Around</h3>
                                <p>Lorem ipsum dolor sit amet, cons ectetur adip isci ngelit, sed do eiusmod tem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="adv-card">
                            <div class="adv-img">
                                <img src="{% static 'assets/img/adv-3.png' %}" alt="Image">
                            </div>
                            <div class="adv-info">
                                <h3>Complete 24/7 Support</h3>
                                <p>Lorem ipsum dolor sit amet, cons ectetur adip isci ngelit, sed do eiusmod tem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center mt-10">
                        <a href="listings-one.html" class="btn style1">Explore Properties</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Advantage Section end -->

        <!-- Video Section start -->
        <div class="pb-100">
            <div class="container">
                <div class="video-wrap style1 video-bg-1 bg-f ptb-100">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-8 order-lg-1 order-md-1 order-2">
                            <div class="video-content">
                                <div class="content-title style1">
                                    <span>Open Video</span>
                                    <h2>Attend A Virtual Open Apartments</h2>
                                    <p>Best Strategic planning dolor sit amet consectetur adipiscing elit. Scel erus isque ametus odio velit auctor nam elit nulla eget sodales dui pulvinar. Best strategic planning dolor sit amet.</p>
                                </div>
                                <a href="listings-two.html" class="btn style2">Explore Property</a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-4 order-lg-2 order-md-2 order-1">
                            <a class="play-video" data-fancybox="" href="https://www.youtube.com/watch?v=Qj59_LGUBvE&t=1s">
                                <span class="play-now icon"><i class="flaticon-play-1"></i>
                                <span class="ripple"></span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video Section end -->

            <!-- Counter Section start -->
        <div class="counter-area style4">
            <div class="container">
                <div class="counter-card-wrap style4 bg-white">
                    <div class="counter-card">
                        <span class="counter-icon">
                            <i class="flaticon-quality-control"></i>
                        </span>
                        <div class="counter-text">
                            <h2 class="counter-num">
                                <span class="odometer" data-count="12"></span>
                                <span class="target">+</span>
                            </h2>
                            <p>Years Of Experience</p>
                        </div>
                    </div>
                    <div class="counter-card">
                        <span class="counter-icon">
                            <i class="flaticon-apartment"></i>
                        </span>
                        <div class="counter-text">
                            <h2 class="counter-num">
                                <span class="odometer" data-count="167"></span>
                                <span class="target">K+</span>
                            </h2>
                            <p>Apartments Rent</p>
                        </div>
                    </div>
                    <div class="counter-card">
                        <span class="counter-icon">
                            <i class="flaticon-office-building"></i>
                        </span>
                        <div class="counter-text">
                            <h2 class="counter-num">
                                <span class="odometer" data-count="239"></span>
                                <span class="target">+</span>
                            </h2>
                            <p>Total Constructions</p>
                        </div>
                    </div>
                    <div class="counter-card">
                        <span class="counter-icon">
                            <i class="flaticon-hand-gesture"></i>
                        </span>
                        <div class="counter-text">
                            <h2 class="counter-num">
                                <span class="odometer" data-count="449"></span>
                                <span class="target">+</span>
                            </h2>
                            <p>Apartio Rooms</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Counter Section End -->
        
        <!-- Testimonial section start -->
        <section class="testimonial-wrap ptb-100 bg-seashell ">
            <img src="{% static 'assets/img/shape-1.png' %}" alt="Image" class="testimonial-shape-one">
            <div class="container">
                <div class="section-title style1 text-center mb-40">
                    <span>See Our Reviews</span>
                    <h2>What Our Users Say About Us</h2>
                </div>
                <div class="testimonial-slider-one owl-carousel">
                    <div class="testimonial-card style1">
                        <div class="client-img">
                            <img src="{% static 'assets/img/clients/client-3.jpg' %}" alt="Image">
                        </div>
                        <div class="quote-wrap">
                            <p class="client-quote">
                                "Was on the hunt for a deadly place to list and this website didn't disappoint. Sound job lads!"
                            </p>
                            <div class="client-info-wrap">
                                <div class="client-info">
                                    <h5>Becky R</h5>
                                    <span>Estate Agent</span>
                                </div>
                                <div class="ratings">
                                    <i class="flaticon-star"></i>
                                    4.7
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-card style1">
                        <div class="client-img">
                            <img src="{% static 'assets/img/clients/client-4.jpg' %}" alt="Image">
                        </div>
                        <div class="quote-wrap">
                            <p class="client-quote">
                                "Your site's a gem! Snagged a deadly spot near the local. Sláinte to that!"
                            </p>
                            <div class="client-info-wrap">
                                <div class="client-info">
                                    <h5>Sean D</h5>
                                    <span>Eleictrician</span>
                                </div>
                                <div class="ratings">
                                    <i class="flaticon-star"></i>
                                    4.9
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-card style1">
                        <div class="client-img">
                            <img src="{% static 'assets/img/clients/client-5.jpg' %}" alt="Image">
                        </div>
                        <div class="quote-wrap">
                            <p class="client-quote">
                                "Wasn't expecting much, but this site is the dog's bollocks. Found the perfect tenant for me house."
                            </p>
                            <div class="client-info-wrap">
                                <div class="client-info">
                                    <h5>Rafael D</h5>
                                    <span>Landlord</span>
                                </div>
                                <div class="ratings">
                                    <i class="flaticon-star"></i>
                                    4.9
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-card style1">
                        <div class="client-img">
                            <img src="{% static 'assets/img/clients/client-6.jpg' %}" alt="Image">
                        </div>
                        <div class="quote-wrap">
                            <p class="client-quote">
                                This website will be hard bate!
                            </p>
                            <div class="client-info-wrap">
                                <div class="client-info">
                                    <h5>Breena F</h5>
                                    <span>Enterpreneur</span>
                                </div>
                                <div class="ratings">
                                    <i class="flaticon-star"></i>
                                    4.9
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial section end -->

            <!-- Partner section start -->
        <div class="partner-wrap ptb-100">
            <div class="container">
                <div class="partner-slider owl-carousel">
                    <div class="partner-item">
                        <img src="{% static 'assets/img/partner/partner-1.png' %}" alt="Image">
                    </div>
                    <div class="partner-item">
                        <img src="{% static 'assets/img/partner/partner-2.png' %}" alt="Image">
                    </div>
                    <div class="partner-item">
                        <img src="{% static 'assets/img/partner/partner-3.png' %}" alt="Image">
                    </div>
                    <div class="partner-item">
                        <img src="{% static 'assets/img/partner/partner-4.png' %}" alt="Image">
                    </div>
                    <div class="partner-item">
                        <img src="{% static 'assets/img/partner/partner-5.png' %}" alt="Image">
                    </div>
                    <div class="partner-item">
                        <img src="{% static 'assets/img/partner/partner-6.png' %}" alt="Image">
                    </div>
                </div>
            </div>
        </div>
        <!-- Partner section end -->

    </div>
    <!-- Content wrapper end -->
</div>
<!-- Page Wrapper End -->

<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Sign In Modal -->
<div class="modal fade" id="signIn" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center gx-5">
                    <div class="col-md-6">
                        <div class="login-bg bg-f">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="login-content">
                            <h2>Sign In</h2>
                            <form class="user-form" action="#">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input id="text" name="username" type="text" placeholder="Username" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input id="pwd" name="pwd"  type="password" placeholder="Password" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <button class="btn style1">
                                                Login Now
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <p class="text-center mb-10">Or</p>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <button type="button" class="btn fb">SignIn With Facebook <span><i class="ri-facebook-fill"></i></span></button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <button type="button" class="btn linkedin">SignIn With Linkedin <span><i class="ri-linkedin-fill"></i></span></button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group mb-0">
                                            <button type="button" class="btn twitter">SignIn With Twitter <span><i class="ri-twitter-fill"></i></span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<!-- Sign Up Modal -->
<div class="modal fade" id="signUp" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center gx-5">
                    <div class="col-md-6">
                        <div class="login-bg bg-f">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="login-content">
                            <h2>Sign Up</h2>
                            <p>Please fill the form to create an account</p>
                            <form class="user-form" action="#">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input id="fname" name="fname" type="text" placeholder="Full Name" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input id="email" name="email" type="email" placeholder="Email"  required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input id="pwd_4" name="pwd_4"  type="password" placeholder="Password" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                                <input id="pwd_3" name="pwd_3"  placeholder="Confirm Password"  type="password" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <div class="checkbox style3">
                                            <input type="checkbox" id="test_1">
                                            <label for="test_1">
                                                I Agree with the <a class="link style1" href="terms-of-service.html">Terms &amp; conditions</a> &amp; <a class="link style1" href="privacy-policy.html">privacy policy</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <button class="btn style1">
                                                Register Now 
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section> 

{% endblock %}
