{% extends 'layouts/base_re.html' %} {% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

<!-- Content Wrapper Start -->
<div class="content-wrapper">

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap bg-f br-4">
        <div class="container">
            <div class="breadcrumb-title">
                <h2>Agent</h2>
                <ul class="breadcrumb-menu list-style">
                    <li><a href="{% url 'index' %}">Home </a></li>
                    <li>Agents</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Agent Details Section start -->
    <div class="container ptb-100">
        <div class="agent-details-wrap">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="agent-img">
                        <img src="{% static 'assets/img/agents/agent-1.jpg' %}" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="agent-info-wrap">
                        <div class="agent-name">
                            <h2>Rocklaura Henry</h2>
                            <span>Real Estate Agent</span>
                        </div>
                        <ul class="agent-info list-style">
                            <li><b>Experience:</b><span>5 Years</span></li>
                            <li><b>Address:</b><span>77 Morris St. Ridgewood, NJ 67655 </span></li>
                            <li><b>Phone:</b><span>+1 719-504-1984 </span></li>
                            <li><b>Email:</b><span>info@rocklaura.com</span></li>
                            <li><b>Fax:</b><span>+2 329-504-1984</span></li>
                        </ul>
                        <div class="agent-social">
                            <span>Follow On:</span>
                            <ul class="social-profile list-style style1">
                                <li>
                                    <a target="_blank" href="https://facebook.com">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://twitter.com">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://instagram.com">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://linkedin.com">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="agent-desc">
                        <h4>About Rocklaura Henry</h4>
                        <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Proin eget tortor risus. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus.</p>
                        <p>Cras ultricies ligula sed magna dictum porta. Nulla quis lorem ut libero malesuada feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, </p>
                        <ul class="nav nav-tabs agent-tablist" role="tablist">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab_1" type="button" role="tab">Listed Properties</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab_2" type="button" role="tab">Customer Review</button>
                            </li>
                        </ul>
                        <div class="tab-content hw-tab-content">
                            <div class="tab-pane fade show active" id="tab_1" role="tabpanel">
                                <div class="row justify-content-center">
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="property-card style2">
                                            <div class="property-img-slider owl-carousel">
                                                <img src="{% static 'assets/img/property/property-2.jpg' %}" alt="Image">
                                                <img src="{% static 'assets/img/property/property-7.jpg' %}" alt="Image">
                                                <img src="{% static 'assets/img/property/property-8.jpg' %}" alt="Image">
                                            </div>
                                            <div class="property-info">
                                                <div class="property-status-wrap">
                                                    <span class="property-status">For Sale</span>
                                                    <p class="property-price">$21,400</p>
                                                </div>
                                                <h3><a href="listing-details.html">Modern Apartment</a></h3>
                                                <p><i class="flaticon-location"></i>123/A, Miles Ave, North Canal</p>
                                                <ul class="property-metainfo list-style">
                                                    <li><i class="flaticon-double-bed"></i>05</li>
                                                    <li><i class="flaticon-bath-tub"></i>03</li>
                                                    <li><i class="flaticon-square"></i>2500 sqft</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="property-card style2">
                                            <div class="property-img-slider owl-carousel">
                                                <img src="{% static 'assets/img/property/property-3.jpg' %}" alt="Image">
                                                <img src="{% static 'assets/img/property/property-9.jpg' %}" alt="Image">
                                                <img src="{% static 'assets/img/property/property-17.jpg' %}" alt="Image">
                                            </div>
                                            <div class="property-info">
                                                <div class="property-status-wrap">
                                                    <span class="property-status">For Rent</span>
                                                    <p class="property-price">$44,900/<span>month</span></p>
                                                </div>
                                                <h3><a href="listing-details.html">Apartment For Rent</a></h3>
                                                <p><i class="flaticon-location"></i>732 Burwell Road, Houston</p>
                                                <ul class="property-metainfo list-style">
                                                    <li><i class="flaticon-double-bed"></i>07</li>
                                                    <li><i class="flaticon-bath-tub"></i>04</li>
                                                    <li><i class="flaticon-square"></i>4110 sqft</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="property-card style2">
                                            <div class="property-img-slider owl-carousel">
                                                <img src="{% static 'assets/img/property/property-4.jpg' %}" alt="Image">
                                                <img src="{% static 'assets/img/property/property-13.jpg' %}" alt="Image">
                                                <img src="{% static 'assets/img/property/property-12.jpg' %}" alt="Image">
                                            </div>
                                            <div class="property-info">
                                                <div class="property-status-wrap">
                                                    <span class="property-status">For Rent</span>
                                                    <p class="property-price">$25,900/<span>month</span></p>
                                                </div>
                                                <h3><a href="listing-details.html">Dreamy Penthouse</a></h3>
                                                <p><i class="flaticon-location"></i>4890 Grey Fox Fam Road, Houston</p>
                                                <ul class="property-metainfo list-style">
                                                    <li><i class="flaticon-double-bed"></i>05</li>
                                                    <li><i class="flaticon-bath-tub"></i>02</li>
                                                    <li><i class="flaticon-square"></i>2210 sqft</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="tab-pane fade" id="tab_2" role="tabpanel">
                                <div class="property-review comment-item-wrap">
                                    <div class="comment-item">
                                        <div class="comment-author-img">
                                            <img src="{% static 'assets/img/clients/client-1.jpg' %}" alt="mage">
                                        </div>
                                        <div class="comment-author-wrap">
                                            <div class="comment-author-info">
                                                <div class="row align-items-start">
                                                    <div class="col-md-9 col-sm-12 col-12 order-md-1 order-sm-1 order-1">
                                                        <div class="comment-author-name">
                                                            <h5>Olivic Dsuza</h5> 
                                                            <span class="comment-date">22/04/2022</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 col-12 text-md-end order-md-2 order-sm-3 order-2">
                                                        <ul class="ratings list-style">
                                                            <li><i class="ri-star-s-fill"></i></li>
                                                            <li><i class="ri-star-s-fill"></i></li>
                                                            <li><i class="ri-star-s-fill"></i></li>
                                                            <li><i class="ri-star-s-fill"></i></li>
                                                            <li><i class="ri-star-half-s-fill"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-2 order-3">
                                                        <div class="comment-text">
                                                            <p>Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-item">
                                        <div class="comment-author-img">
                                            <img src="{% static 'assets/img/clients/client-2.jpg' %}" alt="mage">
                                        </div>
                                        <div class="comment-author-wrap">
                                            <div class="comment-author-info">
                                                <div class="row align-items-start">
                                                    <div class="col-md-9 col-sm-12 col-12 order-md-1 order-sm-1 order-1">
                                                        <div class="comment-author-name">
                                                            <h5>Josef Haris</h5> 
                                                            <span class="comment-date">15/04/2022</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 col-12 text-md-end order-md-2 order-sm-3 order-2">
                                                        <ul class="ratings list-style">
                                                            <li><i class="ri-star-s-fill"></i></li>
                                                            <li><i class="ri-star-s-fill"></i></li>
                                                            <li><i class="ri-star-s-fill"></i></li>
                                                            <li><i class="ri-star-s-fill"></i></li>
                                                            <li><i class="ri-star-half-s-fill"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-2 order-3">
                                                        <div class="comment-text">
                                                            <p>Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel.
                                                            </p>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="property-img mb-0 mt-25">
                                                                        <img src="{% static 'assets/img/property/property-1.jpg' %}" alt="Image">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="property-img mb-0 mt-25">
                                                                        <img src="{% static 'assets/img/property/property-2.jpg' %}" alt="Image">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-item">
                                        <div class="comment-author-img">
                                            <img src="{% static 'assets/img/clients/client-3.jpg' %}" alt="mage">
                                        </div>
                                        <div class="comment-author-wrap">
                                            <div class="comment-author-info">
                                                <div class="row align-items-start">
                                                    <div class="col-md-9 col-sm-12 col-12 order-md-1 order-sm-1 order-1">
                                                        <div class="comment-author-name">
                                                            <h5>Boris jhonson</h5> 
                                                            <span class="comment-date">27/03/2022</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 col-12 text-md-end order-md-2 order-sm-3 order-2">
                                                        <ul class="ratings list-style">
                                                            <li><i class="ri-star-s-fill"></i></li>
                                                            <li><i class="ri-star-s-fill"></i></li>
                                                            <li><i class="ri-star-s-fill"></i></li>
                                                            <li><i class="ri-star-s-fill"></i></li>
                                                            <li><i class="ri-star-half-s-fill"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-2 order-3">
                                                        <div class="comment-text">
                                                            <p>Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="review-form mb-25">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <p>Your ratings for this property</p>
                                                <div class="star-rating">
                                                    <input id="star-5" type="radio" name="rating" value="star-5">
                                                    <label for="star-5" title="5 stars">
                                                        <i class="active ri-star-fill" aria-hidden="true"></i>
                                                    </label>
                                                    <input id="star-4" type="radio" name="rating" value="star-4">
                                                    <label for="star-4" title="4 stars">
                                                        <i class="active ri-star-fill" aria-hidden="true"></i>
                                                    </label>
                                                    <input id="star-3" type="radio" name="rating" value="star-3">
                                                    <label for="star-3" title="3 stars">
                                                        <i class="active ri-star-fill" aria-hidden="true"></i>
                                                    </label>
                                                    <input id="star-2" type="radio" name="rating" value="star-2">
                                                    <label for="star-2" title="2 stars">
                                                        <i class="active ri-star-fill" aria-hidden="true"></i>
                                                    </label>
                                                    <input id="star-1" type="radio" name="rating" value="star-1">
                                                    <label for="star-1" title="1 star">
                                                        <i class="active ri-star-fill" aria-hidden="true"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-md-end">
                                            <div class='file form-group'>
                                                <label for='input-file'>Upload Image</label>
                                                <input id='input-file' type='file' />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="First name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="Last name">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" placeholder="Email Address">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea id="msg" cols="30" rows="6" placeholder="Write A Review"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn style2">
                                                Submit Review
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Agent Details Section end -->

</div>
<!-- Content wrapper end -->

{% endblock %}
